@import "./variable";
@import "./mixin";
@import "./fontface";

.section-three {
    display: flex;
    flex-direction: column;
    background-color: #C9E7F2;
    padding: 20px;

    .section-three-content {
        margin-left: 60px;

        h1 {
            font-family: "manrope bold", sans-serif;
            font-size: 56px;
            margin: 20px 0px 10px 0px;
        }

        p {
            font-family: "manrope medium", sans-serif;
            width: 37%;
            font-size: 0.9em;
        }
    }

    .section-three-cards {
        display: grid;
        grid-template-columns: repeat(auto, minmax(120px, 1fr));
        grid-template-rows: repeat(4, 80px);
        margin: 10px 40px 10px 40px;

        .section-three-cards-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            padding: 20px;
            margin: 10px;
            border: solid 1px #ACC8D2;
            border-radius: 8px;
            img{
                width: 40px;
                margin-bottom: 20px;
            }
            h1{
                font-family: "manrope bold", sans-serif;
                font-size: 20px;
                margin: 10px 0px 10px 0px;
            }
            p{
                font-family: "manrope medium", sans-serif;
                font-size: 0.9em;
            }
        }
        #item-1{
            grid-area: 1 / 1 / 5 / 4;
        }
        #item-2{
            grid-area: 1 / 4 / 5 / 7;
        }
        #item-3{
            grid-area: 1 / 7 / 3 / 11;
        }
        #item-4{
            grid-area: 3 / 7 / 5 / 11;
        }
        }
    }
