$hero_bg_color: #B1DDEC;
$button_color: #5046BA;
$link_color: #5046BA;
$text_secondary_color: #64607D;
$header_color:#C9E7F2;
$header_color_secondary: #62BADA;
$about_card_color: #FFFFFF;
$main_bg_color: #F9F9F9;